/* RUBIATO, JOHN CLEMENT R. */

/*****************TAG SELECTORS in ALPHABETICAL ORDER*****************/
a{
    font-family: 'Montserrat', sans-serif;
    color: rgb(17, 153, 158);
    font-weight: bold;
    text-decoration: none;
}

body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

hr{
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 3%;
}

h1{
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: 2;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

nav{
    transition: background-color 0.4s ease-in-out;
}

p{
    color: #40514E;
    line-height: 2;
}

/*****************CLASS SELECTORS in ALPHABETICAL ORDER*****************/

.active{
    border-radius: 50px;
    background-color: rgba(17, 153, 158, 0.2);
    padding: 15px 40px;
}

.active-2{
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 40px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 500px;
    width: 10%;
}

.bottom-container{
    background-color: #66BFBF;
    position: relative;
    padding: 50px 0 20px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: normal;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.college{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-me{
    font-weight: bold;
    text-align: center;
    margin: 90px auto 90px;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.couple{
    width: 20%;
}

.elementary{
    width: 40%;
    float: right;
    margin-left: 30px;
}

.family-background{
    margin: 90px auto 90px auto;
}

.family-gallery{
    margin: 90px auto 90px auto;
}

.family-img{
    width: 450px;
    height: 300px;
    object-fit: cover;
}

.family-paragraph{
    width: 60%;
    text-align: justify;
    margin: auto;
}

.family-tree{
    margin: 20px auto 0 auto;
}

.footer-link{
    color: #11999E;
    margin: 0 25px 0 25px;
    text-align: center;
}

.footer-link:hover{
    color: #EAF6F6;
}

.future-goal{
    width: 50%;
    margin: 20px auto 90px auto;
}

.gallery{
    margin: 90px auto 90px auto;
}

.gallery-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.gallery-row{
    height: 50%;
    margin: 5px auto 5px auto;
}

.goal{
    text-align: justify;
}

.guitar-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.highschool{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.home{
    width: 30%;
}

.intro{
    width: 40%;
    margin: auto;
}

.kindergarten{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.middle-container{
    position: relative;
    padding: 100px 0 0 0;
}

.navbar{
    position: fixed;
    width: 30%;
    left: 50%; 
    transform: translateX(-50%);
    top: 2%;
    z-index: 10;
    border-radius: 50px;
    padding: 25px 0;
}

.navbar-colored {
    border-radius: 50px;
    padding: 25px 0;
    background-color:rgba(0, 32, 34, 0.7);
}

.nav-link{
    text-align: center;
    color: #11999E;
    margin: 0 15px 0 15px;
    font-size: 15px;
}

.profile{
    width: 50%;
    margin: 20px auto 90px auto;
}

.profile-img{
    width: 25%;
}

.programming{
    width: 30%;
}

.school{
    width: 35%
}

.schools{
    margin: 90px auto 90px auto;
}

.school-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.sing-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skills{
    margin: 90px auto 90px auto;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.top-cloud{
    position: absolute;
    top: 120px;
    right: 250px;
    width: 10%;
} 

.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding: 100px 0;
}

.tree{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.webdev{
    width: 50%;
}

/************CLASS OF MY FAMILY in ALPHABETICAL ORDER**********/

.mother{
    position: relative;
    margin: 0 auto;
    width: 10%; 
    bottom: 220px; 
    left: 580px;

}

.father{
    position: relative;
    margin: 0 auto;
    width: 10%;  
    bottom: 220px;
    left: 580px;    
}

.brother-0{
    position: relative;
    margin: 0 auto;
    width: 10%;
    bottom: 890px; 
    right: 770px;
}

.brother-1{
    position: relative;
    margin: 0 auto;
    width: 10%; 
    bottom: 600px;  
}

.brother-2{
    position: relative;
    margin: 0 auto;
    width: 10%; 
    bottom: 600px;
    left: 210px; 
}

.brother-3{
    position: relative;
    margin: 0 auto;
    width: 10%; 
    bottom: 640px; 
    left: 200px;
}

.brother-4{
    position: relative;
    margin: 0 auto;
    width: 10%; 
    bottom: 600px; 
    left: 200px;
}

.brother-5{
    position: relative;
    margin: 0 auto;
    width: 10%; 
    bottom: 750px; 
    right: 550px;
}

.brother-6{
    position: relative;
    margin: 0 auto;
    width: 10%; 
    bottom: 800px; 
    right: 350px;
}

.sister-1{
    position: relative;
    margin: 0 auto;
    width: 10%; 
    bottom: 720px; 
    right: 50px;
}

.sister-2{
    position: relative;
    margin: 0 auto;
    width: 10%; 
    bottom: 880px; 
    right: 100px;
}






  






